In [1]:
from OurSQL.parser import OurSQLInterpreter

In [2]:
interpreter = OurSQLInterpreter()

In [3]:
interpreter.run("SHOW DATABASES;")

Existing databases:
__MAIN__ 0 tables	<--

In [4]:
interpreter.run("""
    CREATE DATABASE MyShinyDB;
    SHOW DATABASES;
""")

Existing databases:
__MAIN__ 0 tables	<--
MyShinyDB 0 tables

In [5]:
interpreter.run("""
    CREATE TABLE User(
        id INT PRIMARY KEY AUTOINCREMENT,
        name STR NOT NULL,
        type STR FOREIGN KEY REFERENCES Type(type)  
    );
""")

In [6]:
interpreter.run("SHOW DATABASES;")
print()
interpreter.run("SHOW TABLES;")

Existing databases:
__MAIN__ 1 table	<--
MyShinyDB 0 tables

Tables of __MAIN__ database:
User {'id': Field(name=id, type=int, default=None, nullable=True, PrimaryKey), 'name': Field(name=name, type=str, default=None, nullable=not_null), 'type': Field(name=type, type=str, default=None, nullable=True, ForeignKey references Type(type), on update: restrict, on delete: restrict)}

In [7]:
interpreter.run("USE MyShinyDB;")
interpreter.run("drop database __MAIN__;")
interpreter.run("SHOW DATABASES;")

Existing databases:
MyShinyDB 0 tables	<--

In [8]:
interpreter.run("""
    CREATE TABLE User(
        id INT PRIMARY KEY AUTOINCREMENT,
        name STR NOT NULL,
        type STR DEFAULT "basic",
        FOREIGN KEY (type) REFERENCES Type(type)  
    );
""")

In [ ]:
v

ValueError: id is already a PrimaryKey.

In [10]:
interpreter.run("""
    CREATE TABLE User2(
        id INT PRIMARY KEY AUTOINCREMENT PRIMARY KEY AUTOINCREMENT PRIMARY KEY AUTOINCREMENT PRIMARY KEY AUTOINCREMENT,
        name STR NOT NULL,
        type STR DEFAULT "basic",
        FOREIGN KEY (type) REFERENCES Type(type)  
    );
""")

ValueError: Дублирование атрибутов

In [12]:
interpreter.run("""
    CREATE TABLE User2(
        id INT PRIMARY KEY AUTOINCREMENT,
        name STR NOT NULL,
        type STR DEFAULT 1,
        PRIMARY KEY (id),
        FOREIGN KEY (type) REFERENCES Type(type)  
    );
""")

ValueError: Value 1 doesnt match type str

In [13]:
interpreter.run("DrOp DaTaBaSe MyShinyDB;")